ol {
  margin: 3% 3% 0% 5%;
  cursor: pointer;
  outline: none;
}

li {
  list-style: lower-alpha;
  margin: 2%;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  ol {
    margin: 10%;
  }

  li {
    margin: 5%;
  }
}

details {
  margin: 2%;
}

details summary > * {
  display: inline;
}

.title {
  margin-left: 5%;
  cursor: pointer;
  outline: none;
}

summary {
  outline: none;
}
